header {
  height: 80px;
  background-color: var(--color-bg-secondary);
  color: var(--color-font-secondary);
  display: flex;
  align-items: center;
}

.site-title {
  font-size: 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-link-active {
  font-weight: 700;
}