@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --color-bg-primary: white;
  --color-bg-secondary: #ff2323;
  --color-bg-tertiary: #dadada;

  --color-font-primary: #6f6f6f;
  --color-font-secondary: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--color-bg-tertiary);
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.section-title {
  color: var(--color-font-primary);
  font-size: 32px;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 17px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.dflex {
  display: flex;
}